 <!DOCTYPE html>
 <html>
     <head>
        <title>Template String</title>

        <script>
            var nome = "professor"
            console.log('Olá mundo '+', aqui quem fala é o: '+nome)
            console.log(`Olá mundo, aqui fala é o: ${nome}`)
            console.log('10 x 5 = '+(10*5))
            console.log(`10 x 5 = ${10*5}`)

            function calculaNota(n1, n2) {
                return (n1 + n2) / 2                
            }

            console.log(`O aluno terminou o curso com nota:  ${calculaNota(10, 8)}`)
        </script>
     </head>
     <body></body>
 </html>